@import 'globals';

$md-primary-color: $md-light-blue-500;
$md-secondary-color: $md-deep-orange-a-200;

@include react-md-everything;

@include react-md-media-aspect-ratio(3, 2);

.centered {
  margin-left: auto;
  margin-right: auto;
}

.album-header {
  margin: 5px 0 0 0;
  padding: 0px;
}

.md-display-1 {
  color: black;
  font-size: 20px;
  line-height: 20px;
}

.md-tile-text--primary {
  font-size: 20px;
}

.md-floating-label {
  font-size: 15px;
}

.download {
  margin: 10px;
}

.title {
  margin-top: 20px;
}

.large-p {
  font-size: 16px;
}

.divider-large {
  margin-bottom: 20px;
}

.album-button {
  margin-left: 0px;
}

.fa {
  font-size: 20px;
}

.album-align {
  margin-left: 8px;
}

.md-select-field--btn.md-select-field--btn {
  padding-left: 5px;
}

.mini-icon {
  font-size: 16px;
  color: #ff6e40;
}

.md-table-column:first-child {
  padding-right: 10px;
  width: 10%;
}

.md-table-column:nth-child(2) {
  padding-right: 10px;
  width: 80%;
}

.md-table-column:nth-child(3) {
  width: 10%;
}

.artist-header {
  font-size: 64px;
}
