{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
      "browser": true
    },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "no-param-reassign": 0,
    "react/prop-types": 0,
    "padded-blocks": 0
  }
}
